.hj_detail_layout .path {
    display: none;
}
#sub.hj_detail_layout #header .inner {
    line-height: 32px;
}
/* headingArea */
.xans-product-detail .headingArea {
    padding: 0;
    margin: 0;
    border-bottom: 0;
    display: none;
}
/* 이미지 */
.xans-product-detail {
    padding-top: 21px;
}
.xans-product-detail .detailArea {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.xans-product-detail .imgArea {
    width: 50%;
    margin: 0;
}
.xans-product-detail .imgArea .keyImg {
    width: 100%;
}
.xans-product-detail .imgArea .keyImg img {
    max-width: 100%;
    border: 0;
}
/* 항목명 */
.xans-product-detail .infoArea th {
    display: none;
}
/* 확대보기 버튼 */
.xans-product-detail .imgArea .control {
    display: none;
}
/* 추천메일 보내기 버튼 */
.xans-product-detail .imgArea .xans-product-action {
    display: none;
}
/* 좋아요 버튼 */
.xans-product-detail .likeButton {
    display: none;
}
/* 다중이미지 */
.xans-product-detail .imgArea .listImg {
    display: none;
}
/* 이미지 영역 컬러칩 */
.xans-product-detail .imgArea .color {
    display: none;
}

/* info */
.infoArea {
    position: relative;
    float: left;
    margin-left: 15px;
}
/* 상품명 */
.xans-product-detail .infoArea td {
    padding: 0;
}
#totalProducts tbody tr:first-child td {
    border-top: 0;
}
#totalProducts tbody tr td:first-child {
    padding-left: 0;
}
.xans-product-detail .infoArea table {
    margin-top: 5px;
}
#totalProducts {
    margin: 0;
}
.xans-product-detail .infoArea .guideArea {
    border-top: 0;
}
/* 수량 */
#totalProducts tbody td .quantity input {
    border-radius: 0;
}
.totalPrice {
    border-top: 0;
}
.infoArea .quantity input[type=text], input[type=password] {
    width: 30px;
    text-align: center;
    border: 1px solid #333;
    border-left: 0;
    border-right: 0;
}
.infoArea .quantity a {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    border: 1px solid #333;
}
.infoArea .quantity img {
    margin: 0;
    padding: 0 6px 4px;
    width: 11px;
}
.infoArea  #totalProducts .right {
    float: right;
    clear: both;
}
/* 버튼 */
.xans-product-detail .infoArea .xans-product-action {
    padding: 0;
    border-top: 0;
}
.ec-base-button {
    padding: 0;
    text-align: left;
}
/* 사이즈 */
.xans-product-detail .infoArea .xans-product-option .ec-product-button li:hover {
    background:#000;
}
.xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-selected a,
.xans-product-detail .infoArea .xans-product-option .ec-product-button li a:hover {
	color:#fff;
}
.xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-selected {
    border: 2px solid #000;
    background: #000;
}
/* 컬러칩 */
.xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview li a {
    /* margin-right: 20px; */
    min-width: 15px;
    width: 15px;
    height: 15px;
    box-shadow: 0 0 0 1px #806145;
    border: 2.5px solid #fff;
    border-radius: 50%;
}
.xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview li {
    border: 0;
    background: transparent;
}
.xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview li:last-child a {
    margin-right:0;
}
.xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview li:hover,
.xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-disabled a span {
    background: transparent;
}
.xans-product-detail .infoArea .xans-product-option tr:first-child td ul {
	display: inline-block;
}
.xans-product-detail .infoArea .xans-product-option .value {
    display: inline-block;
    margin: 0 0 9px 10px;
    vertical-align: bottom;
}
/* 바로구매 버튼 */
.ec-base-button a {
    display: inline-block;
    float: left;
    margin-right: 1px;
    min-width: 36px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    text-transform: capitalize;
    vertical-align: top;
}
.ec-base-button a.first {
    width:408px;
}
.xans-product-detail .infoArea img {
    margin-top: 7px;
}
/* 상품가격 */
.totalPrice {
    font-size: 12px;
}
.totalPrice .total strong {
    font-weight: normal;
}
.totalPrice .total em {
    font-size: 17px;
}
/*
	상품구매안내
*/
.hj_additionalSidebar {
    position: fixed;
    top: 33px;
    right: 0;
    padding: 15px;
    max-width: 288px;
    height:100%;
	font-family: 'Noto Sans', sans-serif;
    font-size: 11px;
    background: #fff;
    border-left: 1px solid #333;
	display: none;
}
/* 타이틀 */
.xans-product-additional .cont h3 {
    margin: 0;
}
.xans-product-additional .cont {
    padding: 0;
}
/* tap */
.xans-product-additional .ec-base-tab .menu {
    margin: 0;
}
/* 인포 가이드 */
.hj_infoguide {
    margin-top: 25px;
    font-size: 12px;
}
.hj_infoguide .hj_freeshipping {
    float: left;
}
.hj_infoguide .hj_freeshipping span:first-child {
	background: url(/web/season2_skin/boombasic_type1/img/icon/clock2.png) 0 4px no-repeat;
    background-size: 12px;
    padding-left: 18px;
}
.hj_infoguide .hj_freeshipping span strong {
	padding-left: 18px;
	font-weight: normal;
}
.hj_infoguide ul {
    float: right;
	margin-right: 100px;
}
.hj_infoguide ul li {
    background: url(/web/season2_skin/boombasic_type1/img/icon/arrow-right.png) 0 50% no-repeat;
    background-size: 15px;
    padding-left: 18px;
}
/* 사이즈 가이드 */
.xans-product-detail .infoArea .sizeGuide a {
    display: block;
    padding-top: 20px;
    padding-left: 0;
    background: none;
}
.xans-product-detail .infoArea .sizeGuide {
    display: block;
    padding-left: 18px;
    background: url(//img.echosting.cafe24.com/skin/base_ko_KR/product/ico_sizeGuide_go.gif) no-repeat 0 24px;
}
.hj_detailHelper {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;
}
/* need help? */
.hj_needhelp {
    display: inline-block;
}
.hj_needhelp span:hover {
    border-bottom:1px solid #333;
}
.hj_needhelp ul {
    position: absolute;
    left: 0;
    bottom: 30px;
    padding: 10px;
    background: #fff;
    border: 1px solid #333;
    display: none;
}
/* sns */
.hj_detailShare {
    text-align: right;
    padding-right: 15px;
    width: auto;
    float: right;
    display: inline-block;
}
.hj_detailShare span:hover {
    border-bottom:1px solid #333;
}
.hj_detailShare .social {
    position: absolute;
    right: 0;
    bottom: 30px;
    padding: 10px;
    background: #fff;
    border: 1px solid #333;
    display: none;
}
.hj_detailShare .social li {
    float:left;
}
.hj_detailShare .social img {
    width: 13px;
    padding: 0 4px;
}
/* 상품상세정보 */
#prdDetail .hj_detailView {}
#prdDetail .hj_detailView li {}
#prdDetail .hj_detailView img {}
#prdDetail .hj_column2 li {
    float:left;
    width:50%;
}
#prdDetail .hj_column3 li {
    float:left;
    width:33.333%;
}
/* 연관 컬러 */
.hj_availableColours {
    clear: both;
    overflow: hidden;
	background-color: #a0a0a0;
}
.hj_availableColours em {
    display: block;
    padding: 10px 0 0 10px;
    color: #fff;
    font-size: 26px;
}
/* review & qna */
.xans-product-additional div.board {
    display: none;
}
/* 관련상품 */
.xans-product-relation .relation h3 {
    padding: 10px 0 0 10px;
    height: 86px;
    color: #fff;
    font-size: 26px;
    font-weight: normal;
    font-style: oblique;
}
.xans-product-relation .relation {
    padding: 0;
}
.xans-product-relation .relation ul.prdList {
    margin: 0;
}
.xans-product-relation .relation ul.prdList li.item {
    margin: 0;
    width: 25%;
}
.xans-product-relation .relation ul.prdList li.item .box {
    width: 100%;
    position: relative;
}
.xans-product-relation .relation ul.prdList li.item .thumb {
    margin: 0;
    width: 100%;
    height: auto;
    border: 0;
}
.xans-product-relation .relation ul.prdList li.item .box ul {
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.xans-product-relation .relation ul.prdList li.item .box a {
	font-size: 11px;
}
.xans-product-relation .relation ul.prdList li.item .box strong {
    margin: 0;
    font-size: 10px;
    font-weight: normal;
}
